
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Permanent+Marker&family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

body {
  /* background: linear-gradient(90deg, rgba(50,195,152,1) 0%, rgba(45,138,147,1) 43%, rgba(26,38,170,1) 100%); */
  background: linear-gradient(90deg, rgba(20,110,146,1) 0%, rgba(30,129,124,1) 0%, rgba(130,58,164,1) 100%);

}

.App {
  text-align: center;

 
}

.tasks-div  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navbar {
  margin-top: 0px;
  height: fit-content;
 
}

.home-nav, .login-nav, .register-nav{
margin-left: 50px;
border-radius: 10px;
border-bottom: 1px solid #49dbb0;
transition: all 0.9s ease-in-out;

}

.home-nav:hover, .login-nav:hover, .register-nav:hover {
  background: linear-gradient( 180deg,#fafafa,#fafafa, #fafafa,#49dbb0 ) ; 
}





.profile-card {
  display: flex;
  max-width: 280px;
  border-radius: 10px; 
  margin-left: 30px;
border-right:1px solid #49dbb0 ;
border-left:1px solid #49dbb0 ;
  border-bottom: 1px solid #49dbb0;
  -webkit-box-shadow: 0 8px 6px -6px black ;
  -moz-box-shadow: 0 8px 6px -6px black ;
       box-shadow: 0 8px 6px -6px black ;

}


.profile-name  {
border-radius: 5px;  
color: #49dbb0;
/* filter: invert(); */

  margin-left: 30px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bolder;
  font-family: "Ubuntu";
  background: linear-gradient( 180deg,#fafafa ,#fafafa,#49dbaf7e,#fafafa, #fafafa,#fafafa) ; 
 


}



.app-title {
  background: -webkit-linear-gradient(90deg, rgba(20,110,146,1) 0%, rgba(30,129,124,1) 0%, rgba(130,58,164,1) 100%);
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 30px;
  text-decoration: line-through;
  font-family: 'Permanent Marker', cursive;
 
  
}

.get-tasks {
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
  background: linear-gradient(90deg, rgba(50, 195, 152, 0.308) 0%, rgba(45, 138, 147, 0.308) 43%, hsla(235, 73%, 38%, 0.308) 100%);
  /* background: linear-gradient(90deg, hsla(235, 73%, 38%, 0.308) 0%, rgba(45, 138, 147, 0.308) 43%, rgba(50, 195, 152, 0.308) 100%); */
  transition: all 0.9s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 8px 6px -6px black;
}
.get-tasks:hover {

  background: #49dbb0;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}

.control-buttons{
  display: flex;
  justify-content:space-around;
  width: 800px;
  margin: auto;
  margin-top: 50px;
}
.input-new-task {
  border-top: 1px solid #49dbb0 ;
  border-bottom:  none;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  background-color: transparent;
  -webkit-box-shadow: 0 8px 6px -6px black inset;
  -moz-box-shadow: 0 8px 6px -6px black inset;
       box-shadow: 0 8px 6px -6px black inset;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: 18px;
  font-family: 'Ubuntu';
  opacity: 1; /* Firefox */

}
::-ms-input-placeholder { 
  /* Microsoft Edge  and internet explorer */
  color: white ;
}


.forms-titles {
  color: white;
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Ubuntu Condensed', sans-serif;

}

         
.input-new-task-button , .logout, .login-register-button{
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-family: 'Ubuntu', sans-serif; 
  font-weight: bold;
  background: linear-gradient(90deg, rgba(50, 195, 152, 0.308) 0%, rgba(45, 138, 147, 0.308) 43%, hsla(235, 73%, 38%, 0.308) 100%);
  /* background: #146e92; */
  transition: all 0.9s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 8px 6px -6px black;

}



.input-new-task-button:hover, .logout:hover, .login-register-button:hover{
  background: #49dbb0;

}


.logout-width-height {
padding: 5px;
}


.clear-all-button, .get-pending-button, .get-completed-button{
  border: none;
  border-bottom: 3px solid #49dbb0;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-family: 'Ubuntu', sans-serif; 
  font-weight: bold;
  cursor: pointer;
  transition: all 0.9s ease-in-out;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 8px 6px -6px black;

  
}
.clear-all-button:hover, .get-pending-button:hover, .get-completed-button:hover{
  background-color: #49dbb0;

}




/* todo bar style wrapped here */
.Todo{
  display: flex;
  justify-content: space-between;
    border: none;
  width: 300px;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  font-size: 1.5rem;
  /* font-weight: bold; */
  /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Ubuntu', sans-serif;  */
    font-family: 'Ubuntu Condensed', sans-serif;
    /* font-family: 'Indie Flower', cursive; */
        -webkit-box-shadow: 0 8px 6px -6px black inset;
  -moz-box-shadow: 0 8px 6px -6px black inset;
       box-shadow: 0 8px 6px -6px black inset;

  background-color: white;
  padding: 10px;
  transition: all 0.2s ease-in-out;
 
  
}


.Todo:hover {
  transform: scale(1.2);
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
/* todo bar style wrapped here */







/* checkbox styling wrapped here */
.checkbox{
  max-width: 30px ;
  max-height: 26px;
  -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
  cursor: pointer;
}


.checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 30px;
	position: absolute;
	top: -10px;
	left: 0px;
	color: #49dbb0;
}
/* checkbox styling wrapped here */





/* title of the task wrapped here */
.Todo span{
  margin: 0px 10px 0px 10px;
}
/* title of the task wrapped here */






/* delete button styling wrapped here */
.delete-button {
  display: grid;
  align-content: center;
  border:none;
  border-radius: 50%;
  max-width: 50px;
  max-height: 30px;
  font-weight: bold;
  background: linear-gradient(90deg, rgba(50, 195, 152, 0.308) 0%, rgba(45, 138, 147, 0.308) 43%, hsla(235, 73%, 38%, 0.308) 100%);
  cursor: pointer;
 

}
.x {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}
/* delete button styling wrapped here */





/* login sr=tyling below */

#login-form, #register-form {
  margin-top: 20vh;

}

#email, #password , #email-input , #password-input, #username-input{
  border-top: none;
  border-bottom: 3px solid #49dbb0 ;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  background-color: transparent;
  -webkit-box-shadow: 0 8px 6px -6px black inset;
  -moz-box-shadow: 0 8px 6px -6px black inset;
       box-shadow: 0 8px 6px -6px black inset;
}

label {
  display: block;
  color: white;
  margin-top: 30px;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
  font-size: 18px;

}


.alert-wrong, .alert-logged {
  display: grid;
  align-content: center;
  max-width: 200px;
  max-height: 20px;
  margin: auto;
  margin-top: 5px;
  /* opacity: 0.7; */
}

.link-to-login-register{
  text-decoration: none;
  color: #49dbb0;
}





@media (max-width: 1230px) {
  .tasks-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }}

  @media (max-width: 991px) {
    .profile-card, .home-nav {
      margin: auto;
      width: 200px;
      height:min-content;
   }
  .profile-name{
background: none;
height: fit-content;
  }}
  

  @media (max-width:830px){
       .control-buttons{
        max-width: 300px;
         height: fit-content;
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         
        
         
       }
       
       
    
  


       .clear-all-button, .get-pending-button, .get-completed-button, .input-new-task{
         max-width: 300px;
         align-self: center;
         margin:auto; 
         margin-top: 20px;
       }
       
       .control-buttons    button:nth-of-type(1) {
        order: 4;
      }
      
    .control-buttons button:nth-of-type(2) {
        order: 3;
      } 
      
      .control-buttons button:nth-of-type(3) {
        order: 2;
      }
      
     .control-buttons button:nth-of-type(4) {
        order: 1;
      }
      
      
      
      }


  @media (max-width: 593px) {
    .tasks-div {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
     
  }