.App {
  text-align: center;
}

.Todo{
  border: 3px solid black;
  width: 200px;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  font-weight: bold;
  
}

.Todo span{
  margin: 0px 10px 0px 10px;
}


.delete-button {
  border-radius: 50%;
}